.emails {
  color: #21BFEE;
}

.row {
  padding-top: 20px;
}
ul li {
  float: left;
  list-style: none;
  position: relative;
}

ul li .image--item {
  margin-top: 10px;
}

ul li .image--item img {
  border-radius: 6px;
  margin-right: 10px;
}
