<app-success-message></app-success-message>
<ng-container *ngIf="form">
  <h4 *ngIf="form.subject">{{form.subject}}</h4>
  <div>to
    <span class="emails" *ngIf="form.to">{{form.to}}</span>
  </div>
  <div>
    <p *ngIf="form.message">
      {{form.message}}
    </p>
  </div>
  <div class="row" *ngIf="form.pictures">
    <div class="col-sm-12">
      <div class="image--item" id="item" *ngFor="let file_src of form.pictures; let i = index">
        <img [attr.src]='file_src' class="img-rounded" alt="photo" width="155" height="115" />
      </div>
    </div>
  </div>
</ng-container>
<button (click)="navigate()" class="btn btn-default">
  Send another email
</button>