.emails {
  color: #21bfee;
}

.row {
  padding-top: 20px;
}
ul li {
  float: left;
  list-style: none;
  position: relative;
  .image--item {
    margin-top: 10px;
    img {
      border-radius: 6px;
      margin-right: 10px;
    }
  }
}
