@import '~sass/variables';
@import '~sass/mixins';
.text-center {
  text-align: center !important;
  padding: 10px 0;
  span {
    display: block;
    background: $success;
    @include border-radius(50%);
    @include spanForIcon(62px, 62px);
    text-align: center;
    color: $white;
    padding: 8px;
    margin: 8px auto;
    i {
      font-size: 50px;
    }
  }
}
hr {
  padding: 10px 0;
}
