.text-center {
text-align: center!important;
padding: 10px 0;
}
.text-center span {
    display: block;
    background: #4BD49C;
    /* border: 2px solid #9B9C9E; */
    width: 62px;
    height: 62px;
    border-radius: 50%;
    text-align: center;
    line-height: 62px;
    color: white;
    padding: 8px;
    margin: 8px auto;
}
.text-center span i {
    font-size: 50px;
}
hr {
    padding: 10px 0;
}