
 span {
    display: block;
    background: white;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    line-height: 52px;
    color: #BDBEC1;
    border: 1px solid #F2F2F2;
    padding: 9px;
}
span:hover {
    border: 1px solid #BDBEC1;
    cursor: pointer;
}

span i {
    font-size: 32px;
}