@import '~sass/variables';
@import '~sass/mixins';

span {
  display: block;
  background: $white;
  @include spanForIcon(52px, 52px);
  @include border-radius(50%);
  @include border(1px, solid, #f2f2f2);
  color: #bdbec1;
  padding: 9px;
  &:hover {
    @include border(1px, solid, #bdbec1);
    cursor: pointer;
  }
  i {
    font-size: 32px;
  }
}
