@import '~sass/variables';
@import '~sass/mixins';
button {
  cursor: pointer;
  box-sizing: border-box;
  font-family: $font-family-demo;
  border: 0;
  @include spanForIcon(110px, 42px);
  @include border-radius(24px);
  font-size: $font-size-base;
  background-color: #dedede;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.87);
  white-space: nowrap;
  opacity: 0.4;
  position: relative;
  outline: none;

  i {
    position: absolute;
    left: 20px;
    top: 8px;
  }
  span {
    position: absolute;
    top: 0px;
    right: 20px;
  }
}
// used cursor type for invalid form
:disabled {
  cursor: not-allowed;
}
/* add extra 'valid' class to button element if the form is valid */
.valid {
  color: $white;
  background: $valid-submit;
  cursor: pointer;
  opacity: 1;
}

textarea {
  min-height: 156px;
  @include border-radius(0.25rem !important);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  resize: none;
}

/* Form validation styles.*/
input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  @include border(2px, solid, $red);
}

.row {
  padding-top: 20px;
}
