<form [formGroup]="emailForm" (ngSubmit)="handleSubmit(emailForm.value);" novalidate>
  <div class="input-group mb-3">
    <input type="text" placeholder="To" formControlName="to" class="form-control">
  </div>
  <div class="input-group mb-3">
    <input type="text" placeholder="CC" formControlName="cc" class="form-control">
  </div>
  <div class="input-group mb-3">
    <input type="text" placeholder="BCC" formControlName="bcc" class="form-control">
  </div>
  <div class="input-group mb-3">
    <input type="text" placeholder="Subject" formControlName="subject" class="form-control">
  </div>
  <div class="input-group">
    <textarea class="form-control" placeholder="Message" formControlName="message"></textarea>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div><app-attachment></app-attachment></div>
      <button [disabled]="!emailForm.valid" [ngClass]="{'valid':emailForm.valid}" type="Submit">
        <i class="material-icons">&#xE5C8;</i>
        <span>send</span>
    </button>
  </div>
  </div>
</form>
