@import '~sass/variables';
@import '~sass/mixins';
button {
  cursor: pointer;
  box-sizing: border-box;
  font-family: $font-family-demo;
  border: 0;
  @include spanForIcon(110px, 42px);
  @include border-radius(24px);
  font-size: $font-size-base;
  background-color: #dedede;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.87);
  white-space: nowrap;
  opacity: 0.4;
  position: relative;
  outline: none;
  /* add extra 'valid' class to button element if the form is valid */
  i {
    position: absolute;
    left: 20px;
    top: 8px;
  }
  span {
    position: absolute;
    top: 0px;
    right: 20px;
  }
}
:disabled {
  cursor: not-allowed;
}
.valid {
  color: white;
  background: $valid-submit;
  cursor: pointer;
  opacity: 1;
}

textarea {
  min-height: 156px;
  border-radius: 0.25rem !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  resize: none;
}

/* Form validation styles.*/
input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 2px solid red;
}

.row {
  padding-top: 20px;
}

ul li {
  float: left;
  list-style: none;
  position: relative;
}

.image--item {
  margin-top: 10px;
  display: inline-block;
  position: relative;
}

.image--item img {
  @include border-radius(6px);
  margin-right: 10px;
}

.image--item:hover img {
  opacity: 0.5;
  cursor: pointer;
}

.delete {
  position: absolute;
  display: block;
  top: 33px;
  left: 52px;
  background: #949599;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  line-height: 48px;
  color: $white;
  padding: 8px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  &:hover {
    opacity: 1;
  }
  i {
    font-size: 32px;
  }
}

.image--item img:hover + .delete {
  opacity: 1;
}
