<form [formGroup]="emailForm" (ngSubmit)="handleSubmit(emailForm.value);" novalidate>
  <div class="input-group mb-3">
    <input type="text" placeholder="To" formControlName="to" class="form-control">
  </div>
  <div class="input-group mb-3">
    <input type="text" placeholder="CC" formControlName="cc" class="form-control">
  </div>
  <div class="input-group mb-3">
    <input type="text" placeholder="BCC" formControlName="bcc" class="form-control">
  </div>
  <div class="input-group mb-3">
    <input type="text" placeholder="Subject" formControlName="subject" class="form-control">
  </div>
  <div class="input-group">
    <textarea class="form-control" placeholder="Message" formControlName="message"></textarea>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3 *ngIf="file_srcs.length">Attached Files</h3>
      <div>
      <ul>
        <li *ngFor="let file_src of file_srcs; let i = index" (click)="remove(i)">
          <img [attr.src]='file_src' class="rounded" id="pics" alt="photo" />
          <span class="delete">
              <i class="material-icons">&#xE872;</i>
          </span>
        </li>
      </ul>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 text-left">
      <label for="fileChangeInput"><app-attachment></app-attachment></label>
      <input type="file" id="fileChangeInput" multiple (change)="fileChange(input)" #input style="display:none;" />
    </div>
    <div class="col-sm-6 text-right">
      <button [disabled]="!emailForm.valid" [ngClass]="{'valid':emailForm.valid}" type="Submit">
        <i class="material-icons">&#xE5C8;</i>
        <span>send</span>
      </button>
    </div>
  </div>
</form>
